<%- include('layout/header') %>

<% data.forEach(element => { %>
<a href="/show-post/<%= element.id %> " class="container__article">
    <h2 class="container__articleTitle"><%= element.title %></h2>
    <p class="container__articleDescription">
        <%= element.description %>
    </p>
    <span class="container__articleUser">Creado por: <%= element.user %></span>
</a>
<% }) %>

<%- include('layout/aside') %>